body {
  background-color: #f5f1ea;
  
}
header {
  /* padding-top: 20px; */
	width: 200px;
	line-height: 35px;
	/* background: #e6e7a2; */
  text-align: center;
  padding: 10px;
  margin: auto;
  position: fixed;
  bottom: 0;
  
}
header .title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.setting-button{
  
  top: 8px;
  left: 0px;
  padding: 5px;
  cursor: pointer;
  background-color: #c8ffb8;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 7px;
  height: 40px;
}
.setting-popup{
  text-align: center;
  font-size: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: auto;
  background-color: #ebebeba9;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  
  border-radius: 10px; /* 角を丸くする */
  max-width: 500px;
  z-index: 150;
}
.setting-popup p{
  margin: 0 0; /* 追加：上下のマージンを設定 */
}
/* Add these styles to your existing CSS file or component */
.setting-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setting-pair {
  width: 45%; /* Adjust width as needed */
}

.setting-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.setting-close{
  
}
.setting-row label {
  margin-right: 10px;
}

.App {
  text-align: center;
  padding: 20px;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  box-sizing: border-box;
}

input,
button {
  margin: 3px 3px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family:"ヒラギノ角ゴ ProN"
}

button {
  background-color: #ffcdeb;
}

li {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f4f4f4;
}


.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 99;
}

select {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  width: 135px;
 height: 40px;
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #c8ffb8;
}
hr{
  width : 200px;
}
.menu.open {
  right: 0;
}

.toggle-button {
  position: absolute;
  top: 5px;
  left: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.bar {
  width: 19px;
  height: 4px;
  background-color: #000;
  margin: 3px 0;
  transition: transform 0.8s ease;
}

.menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(2px, 0px);
}

.menu.open .bar:nth-child(2) {
  opacity: 0;
}

.menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(2px, 0px);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px; /* 角を丸くする */
}
textarea {
  
  
  font-size: 12px;
  width: 75%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
  border: none;
  font-family:"HiraKakuProN"
}