.contents-tab {
    width: 672px;
    padding-bottom: 2rem;
    position: fixed;
    bottom: 1.0em;
  }
  
  .contents-tab-button-wrapper {
    display: flex;
    gap: 0.5rem;
  }
  
  .contents-tab-button,
  .contents-tab-button-selected {
    width: 144px;
    height: 48px;
    border: blue solid;
    border-radius: 0.5rem 0.5rem 0 0;
    border-width: 2px 2px 0px 2px;
    display: grid;
    place-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .contents-tab-button {
    color: blue;
  }
  
  .contents-tab-button-selected {
    background-color: blue;
    color: white;
  }
  
  .contents-tab-underline {
    height: 2px;
    background-color: blue;
  }
  
  .add-tab-button {
    position: fixed;
    bottom: 0;
    left: 1em;
  }