body {
  min-width: 720px;
  min-height: 480px;
}

.App {
  text-align: center;
  padding: 20px;
}

input,
button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

li {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f4f4f4;
}


.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
}

.menu.open {
  right: 0;
}

.toggle-button {
  position: absolute;
  top: 5px;
  left: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.bar {
  width: 15px;
  height: 4px;
  background-color: #000;
  margin: 3px 0;
  transition: transform 1s ease;
}

.menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(2px, 2px);
}

.menu.open .bar:nth-child(2) {
  opacity: 0;
}

.menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
}