.App {
  text-align: center;
  padding: 20px;
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

li {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f4f4f4;
}

